<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dashboard.Properties.Settings.BloodDBBConnectionString"
            connectionString="Data Source=DESKTOP-1GN1DAK\SQLEXPRESS;Initial Catalog=BloodDBB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="dashboard.Properties.Settings.BloodDBBConnectionString1"
            connectionString="Data Source=ZACK\SQLEXPRESS;Initial Catalog=BloodDBB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="dashboard.Properties.Settings.BDSDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-1GN1DAK\SQLEXPRESS;Initial Catalog=BDSDatabase;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>